In [1]:
import pandas
import os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'Geo-coding.ipynb',
 'Indexing and Slicing.ipynb',
 'panda1.py',
 'Reading data files.ipynb',
 'Sample.csv',
 'supermarkets.csv',
 'supermarkets.json',
 'Updating and Adding columns.ipynb']

In [5]:
df=pandas.read_json('supermarkets.json')
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [7]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [15]:
from geopy.geocoders import Nominatim

In [17]:
Nominatim?

In [47]:
nom = Nominatim(user_agent="myApp")

In [55]:
n=nom.geocode('Kadakkal, Kerala, 691536')
n.latitude

8.8308845

In [60]:
location = nom.reverse("8.8506639,76.9234388")
print(location)

Ittiva, Kollam, Kerala, 691536, India

In [65]:
df['FullAddress']=df['Address']+','+df['City']+','+df['State']+','+ df['Country']
df

,Address,City,Country,Employees,ID,Name,State,FullAddress
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St,San Francisco,CA 94114,USA"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St,San Francisco,CA 94119,USA"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St,San Francisco,California 94114,USA"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St,San Francisco,CA 94114,USA"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St,San Francisco,California,USA"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St,San Francisco,CA 94114,USA"

In [67]:
df['Coordinates']=df['FullAddress'].apply(nom.geocode)
 

df

,Address,City,Country,Employees,ID,Name,State,FullAddress,Coordinates
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St,San Francisco,CA 94114,USA","(3666, 21st Street, Noe Valley, SF, California..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St,San Francisco,CA 94119,USA","(735, Dolores Street, Liberty Street Historic ..."
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St,San Francisco,California 94114,USA","(332, Hill Street, Noe Valley, SF, California,..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St,San Francisco,CA 94114,USA","(3995, 23rd Street, Noe Valley, SF, California..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St,San Francisco,California,USA","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St,San Francisco,CA 94114,USA","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [70]:
df['Coordinates']

0    (3666, 21st Street, Noe Valley, SF, California...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, SF, California,...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [72]:
df.Coordinates[0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, USA, (37.756488877551, -122.429343346939, 0.0))

In [73]:
df['Latitude']=df['Coordinates'].apply(lambda x: x.latitude if x !=None else None)
df

,Address,City,Country,Employees,ID,Name,State,FullAddress,Coordinates,Latitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"3666 21st St,San Francisco,CA 94114,USA","(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"735 Dolores St,San Francisco,CA 94119,USA","(735, Dolores Street, Liberty Street Historic ...",37.757726
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"332 Hill St,San Francisco,California 94114,USA","(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"3995 23rd St,San Francisco,CA 94114,USA","(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"1056 Sanchez St,San Francisco,California,USA","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"551 Alvarado St,San Francisco,CA 94114,USA","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673